.border {
	border: 1px solid #e8e8e8;
}

.link,
.link:link,
.link:visited {
	/*color: #1978c8;*/
	color: #999;
	text-decoration: none;
}

.link:hover,
.link:active {
	/*color: #f28a25;*/
	color: #333;
}

.link-base,
.link-base:link,
.link-base:visited,
.link-base:hover,
.link-base:active {
	color: #333;
	text-decoration: none;
}

.base {
	color: #333;
}

.light {
	color: #999;
}

.white {
	color: #fff;
}

.name {
	color: #266d90;
	/*color: #7f9a44;*/
}

.type {
	/*color: #b77daa;*/
	color: #bf2a5c;
}

.base-bg {
	background: #fff;
}

.component-bg {
	background: #fff;
}

.error-bg {
	background: #c00;
}

.code-bg {
	background-color: #f5f5f5;
}

.sidebar-bg {
	background-color: #323A46;
}
