.root {
	composes: reset font from "../../styles/common.css";
}

.search {
	composes: base base-bg border from "../../styles/colors.css";
	display: block;
	box-sizing: border-box;
	width: calc(100% - 30px);
	margin: 15px;
	padding: 8px 16px;
	font-size: 15px;
	border-radius: 2px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search:focus {
	border-color: #1978c8;
	outline: 0;
}
