.root {
	composes: base base-bg from "../../styles/colors.css";
}

.root.hasSidebar {
	padding-left: 272px;
}

.content {
	max-width: 860px;
	padding: 30px 15px 30px;
	margin: 0 auto;
}

.sidebar {
	composes: border from "../../styles/colors.css";
	background: #f5f5f5;
	border-width: 0 1px 0 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 272px;
	overflow: auto;
}

.components {
	overflow: auto; /* to prevent the pane from growing out of the screen */
}

.heading {
	composes: font border from "../../styles/common.css";
	composes: border from "../../styles/colors.css";
	border-width: 0 0 1px 0;
	margin: 0;
	line-height: 32px;
	font-size: 18px;
	font-weight: normal;
	display: block;
	padding: 15px;
	text-align: center;
}

.footer {
	composes: font from "../../styles/common.css";
	composes: light from "../../styles/colors.css";
	font-size: 12px;
}

@media (max-width: 600px) {
	.root.hasSidebar {
		padding-left: 0;
		display: flex;
		flex-direction: column;
	}
	.content {
		padding: 15px;
		order: 2;
	}
	.sidebar {
		position: static;
		width: auto;
		border-width: 0 0 1px 0;
		order: 1;
	}
}
