import React from 'react';
import SvgIcon from '../../SvgIcon';

const {{name}} = React.createClass({

  getDefaultProps() {
    return {
      style: {
        color: '#1dde9b',
      },
    };
  },

  getStyles() {
    return {
      fill: this.props.style.color,
    };
  },

  render() {
    const styles = this.getStyles();

    return (
      <SvgIcon viewBox='{{viewBox}}'>
        <g style={styles}>
          {{{paths}}}
        </g>
      </SvgIcon>
    );
  },

});

export default {{name}};
